[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/rigidTransformation"]
	path = extern/rigidTransformation
	url = git@github.com:b4sgren/rigidTransformation.git
